body {
  margin: 0 !important;
  padding: 0 !important;
  color: white !important;
  background: rgb(27, 27, 27) !important;
  width: 100% !important;
}

#about_me {
  width: 500px;
  aspect-ratio: 1/1;
  background: linear-gradient(45deg, #13bb8b, #123945, #13bb8b) !important;
  place-items: center;
}

#about_me_image {
  overflow: hidden;
  width: 100%;
  transform: rotate(5deg);
  transition: transform 0.5s;
}

#about_me_image:hover {
  transform: rotate(0deg);
}

.flip_card {
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip_card:hover .flip_card_inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip_card_front, .flip_card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip_card_front {
  background: radial-gradient(circle, #13bb8b 0%, #123945 80%) !important;
  color: black;
  justify-self: center  !important;
}

/* Style the back side */
.flip_card_back {
  color: white;
  transform: rotateY(180deg);
}

.skills_dev {
  text-align: center !important;
  margin-bottom: 2rem !important;
}


.image-fade {
  opacity: 0;
  animation: fade-in 2.5s ease forwards;
}

.main-text-fade {
  opacity: 0;
  animation: fade-in 2.5s ease forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

